<section class="container">
  {{!-- Display Wecome and user name --}}
  <h1>Welcome, {{user.name}}!</h1>
  <h2>Your Projects:</h2>
</section>

{{!-- display project image, title underneath --}}
<section class="flex-row justify-center">
    {{#each projects}}
      <div class="project-card">
        {{!-- Display the image for the project --}}
        {{#if Image}}
          <img src="{{Image.url}}" alt="{{name}}">
        {{else}}
          <p>No image available</p>
        {{/if}}
        {{!-- Display project title --}}
        <h3>{{name}}</h3>
      </div>
    {{/each}}
  </section>
</section>

{{!-- additional card for adding new project --}}
{{!-- Need to add correct route in href to correct page --}}
<a href="/add-project" class="project-card add-new-card">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </a>
  </section>
</section>