<section class="container">
  <h1> <strong>Project Details</strong></h1>
</section>

<div> 
    <h1>Info</h1>
    </div>
      
<section class="flex-row justify-center">
    {{#each projects}}
      <div class="project-card">
        {{#if Image}}
          <img src="{{Image.url}}" alt="{{name}}">
        {{else}}
          <p>No image available</p>
        {{/if}}
      </div>
    {{/each}}
  </section>

<section class="flex-row justify-center">
    {{#each projects}}
      <div class="project-card">
        {{#if Image}}
          <img src="{{Image.url}}" alt="{{name}}">
        {{else}}
          <p>No image available</p>
        {{/if}}
      </div>
    {{/each}}
  </section>

<a href="/add-project" class="project-card add-new-card">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </a>

    <div> 
    <h1>Materials</h1>
    </div>

    <section class="flex-row justify-center">
    {{#each projects}}
      <div class="project-card">
        {{#if Materials}}
        {{else}}
          <p>No Materials available</p>
        {{/if}}
      </div>
    {{/each}}
  </section>

  <section class="flex-row justify-center">
    {{#each projects}}
      <div class="project-card">
        {{#if Materials}}
        {{else}}
          <p>No Materials available</p>
        {{/if}}
      </div>
    {{/each}}
  </section>

  <a href="/add-project" class="project-card add-new-card">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </a>
</section>
